<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="aservice" class="zTest.ioc.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
        <property type="zTest.ioc.BaseService" name="ref1" ref="baseservice"/>
    </bean>
    <bean id="baseservice" class="zTest.ioc.BaseService">
    </bean>
    <bean id="basebaseservice" class="zTest.ioc.BaseBaseService">
        <property name="as" type="zTest.ioc.AService" ref="aservice"/>
    </bean>

    <bean id="contextListener" class="zTest.MyListener"/>

    <bean id="beanFactoryPostProcessor" class="zTest.MyBeanFactoryPostProcessor"/>

    <bean id="autowiredAnnotationBeanPostProcessor"
          class="beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <bean id="handlerAdapter" class="web.servlet.RequestMappingHandlerAdapter">
        <property name="httpMessageConverter" type="web.bind.HttpMessageConverter" ref="messageConverter"/>
        <property name="webBindingInitializer" type="web.bind.support.WebBindingInitializer"
                  ref="webBindingInitializer"/>
    </bean>
    <bean id="webBindingInitializer" class="zTest.servlet.DateInitializer"/>
    <bean id="messageConverter" class="web.bind.DefaultHttpMessageConverter">
        <property name="objectMapper" type="util.ObjectMapper" ref="objectMapper"/>
    </bean>

    <bean id="objectMapper" class="util.DefaultObjectMapper">
        <property type="String" name="dateFormat" value="yyyy/MM/dd"/>
        <property type="String" name="decimalFormat" value="###.##"/>
    </bean>
    <bean id="viewResolver" class="web.view.InternalResourceViewResolver">
        <property type="String" name="viewClassName" value="web.view.JstlView"/>
        <property type="String" name="prefix" value="/jsp/"/>
        <property type="String" name="suffix" value=".jsp"/>
    </bean>
</beans>